@import "../../styles/palette.css";

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 25px;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}
