@import "../../styles/palette.css";

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    opacity: 0;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 25px;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 2rem;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal .MuiTextField-root {
  margin-bottom: 1rem;
}

.modal .MuiButton-root {
  margin-top: 1rem;
}

.modal .MuiButton-containedPrimary {
  background-color: #1976d2;
  color: white;
}

.modal .MuiButton-containedPrimary:hover {
  background-color: #1565c0;
}

.modal .MuiButton-containedPrimary:active {
  background-color: #0d47a1;
}

.kanbanСontainer {
  flex: 1;
  overflow: auto;
}
