.column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  text-align: center;
}

.tasks {
  margin-top: 10px;
}

.addIcon {
  width: 40px;
  height: 40px;
  align-self: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}
